
.main{
  width:30%;
  margin: auto;
  box-sizing: border-box;
  border: 1px solid grey;
  padding: 1%;
  background-color: rgb(206,206,206);
   border-radius: 5px;
}
button{
  width:15%;
  height:30px;
  border:0;
  border-radius: 5px;
  margin-left: 5px;
}
.item{
  margin-top: 10px;
  width:97%;
  border: 1px solid grey;
  border-radius: 5px;
  height:30px ;
  box-sizing: border-box;
  padding-left: 20px;
  background-color: white;
}
input{
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 20px;
  width:78%;
  margin-right: 7px;
   height:30px;
   border:0

}
